{% extends 'base.html' %}
{% block content %}


<div class="container">
        <div class="row">
                <div class="col-lg-5 form-group">
                        <div class="container ">
                                <form action="{{ url_for('tag') }}" method="POST" class="form-horizontal">

                                        {{form_field(form.name) }}
                                        {{  form.csrf_token }}
                                        {{ form.submit }}
                                </form>
                        </div>


                </div>
                <div class="col-lg-7 list-group">
                        {%  for tag in tags %}
                        <div class="list-group-item row">
                                <div class="col-lg-6">{{ tag.name }}</div>
                                <div class="col-lg-6">
                                        <a href="{{ url_for('del_tag', id=tag.id)}}">delete</a>
                                        <a href="{{ url_for('edit_tag', id=tag.id)}}">edit</a>

                                </div>


                        </div>

                        {% endfor %}

                </div>
        </div>
</div>














<hr>


<div class="container">

</div>








{% endblock%}